{%- minify -%}
  <!DOCTYPE html>
  <html class="no-js antialiased scroll-smooth bg-n-900" lang="{{ craft.app.language|slice(0,2) }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ entry.title }}</title>

    {# Favicons #}
    {% include '_layouts/favicons' ignore missing with {} only %}

    {# CSS / JS #}
    {{ craft.vite.script('/src/index.ts') }}

    {# AlpineJS "blip" Fix #}
    {# <style>[x-cloak] { display: none; }</style> #}

    {# Head JS #}
    {% block headJS %}{% endblock %}

  </head>
  <body>
  {% block body %}{% endblock %}
  </body>
  </html>
{%- endminify -%}